nav{
    background-color:cadetblue;
    padding: 0px 0px;
    height: 40px;
   
}

nav a{
    margin-right: 30px;
    font-size: 17px;
    text-decoration: none;
}
nav a.active{
    color:brown;
    font-weight: bold;
}
.orderconfirm-message{
    font-size: 30px;
   font-family:'Times New Roman', Times, serif;
}
.nested_routes{
    background-color: transparent;
    
}
.featured_new_link{
   color:darkslateblue
}
.featured_new_link:hover{
    color:darkgoldenrod
}